entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "streamlit run main.py --server.port 8080 --server.address 0.0.0.0"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 15721270

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py --server.port 8080 --server.address 0.0.0.0"

[[ports]]
localPort = 8080
externalPort = 80
